
    <%- include("Partials/Header.ejs") %>
    <main>
        <h1>Movies</h1>
        <% if(hasResults){ %>
        <div class="Popular">
            
            <% Movies.forEach(movie =>{ %>
                <div class="movie">
                    <a href="/movie/<%= movie.id %>">
                    <div class="image-container">
                        <img src="<%= movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path: "https://placehold.co/1080x1580" %>" alt="<%= movie.title %>">
                        <div class="overview">
                            <h3>Overview</h3>
                            <%= movie.overview %>
                    </div>
                    </div>
                    <div class="movie-info">
                        <h3 class="movie-title"><%= movie.title %></h3>
                        <% if(movie.vote_average>=8){ %>
                            <span class="green"><%= movie.vote_average.toFixed(1) %></span>
                        <% }else if(movie.vote_average>=5 && movie.vote_average<8){ %>
                            <span class="orange"><%= movie.vote_average.toFixed(1) %></span>
                        <% }else{ %>
                            <span class="red"><%= movie.vote_average.toFixed(1) %></span>
                        <% } %>
                    </div> </a> 
                </div>
            <% }) %>
        </div>
        <h1>TV</h1>
        <div class="Popular">
            <% TV.forEach(movie =>{ %>
                <div class="movie">
                    <a href="/series/<%= movie.id %>">
                    <div class="image-container">
                        <img src="<%= movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path: 'http://via.placeholder.com/1080x1580' %>" alt="<%= movie.name %>">
                        <div class="overview">
                            <h3>Overview</h3>
                            <%= movie.overview %>
                    </div>
                    </div>
                    <div class="movie-info">
                        <h3 class="movie-title"><%= movie.name %></h3>
                        <% if(movie.vote_average>=8){ %>
                            <span class="green"><%= movie.vote_average.toFixed(1) %></span>
                        <% }else if(movie.vote_average>=5 && movie.vote_average<8){ %>
                            <span class="orange"><%= movie.vote_average.toFixed(1) %></span>
                        <% }else{ %>
                            <span class="red"><%= movie.vote_average.toFixed(1) %></span>
                        <% } %>
                    </div> </a>
                </div>
            <% }) %>
        </div>
        <% }else{ %>
            <h1 style="margin-top:5rem;text-align: center;font-weight: bold;color: white;">No results found</h1>
        <% } %>
    </main>
</body>
</html>