<%- include("Partials/Header.ejs") %>
    <main>
        <!-- Popular TV Shows -->
        <div class="title">
            <h1><%= Title %></h1>
        </div>
        <div class="Popular">
            <% TV.forEach(movie =>{ %>
                <div class="movie">
                    <a href="/series/<%= movie.id %>">
                    <div class="image-container">
                        <img src="<%= movie.poster_path ? 'https://image.tmdb.org/t/p/w500'+movie.poster_path: 'http://via.placeholder.com/1080x1580' %>" alt="<%= movie.name %>">
                        <div class="overview">
                            <h3>Overview</h3>
                            <%= movie.overview %>
                    </div>
                    </div>
                    <div class="movie-info">
                        <h3 class="movie-title"><%= movie.name %></h3>
                        <% if(movie.vote_average>=8){ %>
                            <span class="green"><%= movie.vote_average.toFixed(1) %></span>
                        <% }else if(movie.vote_average>=5 && movie.vote_average<8){ %>
                            <span class="orange"><%= movie.vote_average.toFixed(1) %></span>
                        <% }else{ %>
                            <span class="red"><%= movie.vote_average.toFixed(1) %></span>
                        <% } %>
                    </div></a>  
                </div>
            <% }) %>
        </div>

        <div class="pagination">

            <% if(Page>1){ %>
                <a href="<%= Href %>?page=<%= Page - 1 %>" class="page">Previous Page</a>
            <% }else{ %>
                <div class="page disabled" id="previous">Previous Page</div>
            <% } %>

            <div class="page" id="present"><%= Page %></div>

            <% if(Page<totalPages){ %>
                <a href="<%= Href %>?page=<%= Page + 1 %>" class="page">Next Page</a>
            <% }else{ %>
                <div class="page disabled" id="next">Next Page</div>
            <% } %>
        </div>
    </main>
</body>
</html>